<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gifter</a>
</nav>

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Angular 9 with Firebase CRUD</h1>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="friendName" placeholder="Enter Friend Name" />
    </div>
    <div class="form-group">
        <input type="date" class="form-control" [(ngModel)]="friendBday" placeholder="Enter Friend Birthday" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="friendGift" placeholder="Enter Gift Idea" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="createRecord()"
            [disabled]="!friendName || !friendBday || !friendGift">Create Friend</button>
    </div>
    <div class="form-group">
        <h4><b>{{message}}</b></h4>
    </div>

    <div class="row p-2">
        <div class="col-md-12 p-2">
            <h4>All Friends</h4>
        </div>
        <div class="col-md-3" *ngFor="let item of friend">
            <div class="card" *ngIf="!item.isEdit; else elseBlock">
                <div class="card-body">
                    <div class="card-title">
                        Name: {{item.name}}
                    </div>
                    <div class="card-subtitle">
                        Bday: {{item.bday}}
                    </div>
                    <div class="card-text">
                        Gift: {{item.gift}}
                    </div>
                    <span>
                        <a href="#" (click)="editRecord(item)" class="btn btn-primary btn-xs">Edit Friend</a>
                        <a href="#" (click)="deleteRecord(item.id)" class="btn btn-danger btn-xs">Delete Friend</a>
                    </span>
                </div>
            </div>

            <ng-template #elseBlock>
                <div class="card-body">
                    <div class="card-title">
                        Edit Friend
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" [(ngModel)]="item.editName" class="form-control"/>
                            </div>
                            <div class="col-md-12">
                                <input type="date" [(ngModel)]="item.editBday" class="form-control"/>
                            </div>
                            <div class="col-md-12">
                                <input type="text" [(ngModel)]="item.editGift" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <span>
                        <a href="#" (click)="item.isEdit = false" class="btn btn-danger btn-xs">Cancel</a>
                        <a href="#" (click)="updateRecord(item)" class="btn btn-primary btn-xs">Update Friend</a>
                    </span>
                </div>
            </ng-template>
        </div>
    </div>
</div>